a {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

.container_header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  width: 320px;
}
.header {
  height: 216px;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: url(../images/header-main/header-mobile-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url('../images/header-main/header-mob@2x-min.png');
  }
}

.header_wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 54px;
}
.logo-film > svg,
.logo-film > svg,
.logo-film > span,
.logo-film > span {
  transition: all 0.3s ease-in-out;
}
.logo-film:hover > svg,
.logo-film:focus > svg,
.logo-film:hover > span,
.logo-film:focus > span {
  color: #ff001b;
  stroke: #ff001b;
  text-shadow: 0 0 15px #ff001b;
}
.logo_header {
  stroke: #ffffff;
  margin-right: 10px;
}
.logo_name {
  display: none;
}
.logo_container > a {
  display: flex;
  align-items: center;
}
.navigation_list {
  display: flex;
}
.navigation_list_item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 1.17px;
  font-size: 12px;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-right: 32px;
  }
}

.navigation_list_link {
  position: relative;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.header_search_form {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.search_form {
  position: relative;
}
.form-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  width: 280px;
  position: relative;
  border-bottom: 0.5px solid #ffffff;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: 0;
  background: transparent;
  padding: 10px 10px;
  &:focus-within {
    border-bottom: 1px solid #ff001b;
    box-shadow: 0 0 15px #ff001b;
    border-radius: 5px;
  }
}

.form-input::placeholder {
  color: #ffffff;
}
.search-btn {
  stroke: #ffffff;
  fill: #ffffff;
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
  background: url(../images/header-main/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1);
  // @include transition(transform);
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
.site_nav_link_current {
  position: relative;
  display: block;
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: translateY(1px);
    display: block;
    width: 100%;
    height: 3px;
    border: none;
    background-color: #ff001b;
    transition: width 0.2s ease-in-out;
  }
  &:hover::after,
  &:focus::after {
    width: 0;
  }
}

.input-error {
  display: flex;
  justify-content: center;
  color: #ff001b;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

//////////// modal registration
.authorization-btn {
  background-color: inherit;
  height: 40px;
  border-style: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-family: inherit;
  line-height: 1.15;
  cursor: pointer;
  fill: white;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

////////////

@media only screen and (min-width: 768px) {
  .container_header {
    width: 768px;
    padding: 0 32px;
  }

  .header {
    background-image: url(../images/header-main/header-tablet-min.png);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header {
      background-image: url('../images/header-main/header-tablet@2x-min.png');
    }
  }

  .form-input {
    width: 336px;
  }

  .logo_name {
    display: block;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .form-input {
    width: 336px;
  }
  .search-form {
    position: relative;
  }
}

@media only screen and (min-width: 1280px) {
  .container_header {
    width: 1280px;
    padding: 0 32px;
  }

  .header {
    background-image: url(../images/header-main/header-desktop-min.png);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header {
      background-image: url('../images/header-main/header-desktop@2x-min.png');
    }
  }

  .form-input {
    width: 394px;
  }

  .form-input {
    width: 394px;
  }
}
