/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
// @import './example';
@import './footer.scss';
@import './header_library.scss';
@import './header_home.scss';
@import './modal_films.scss';
@import './modal_queue.scss';
@import './modal_students.scss';
@import './modal_watched.scss';
@import './select_page.scss';
@import './movies-gallery.scss';
@import './loader.scss';
@import './pagination.scss';

