* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.mdl__image {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (min-width: 320px) {
  .mdl__image {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .mdl__image {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .mdl__image {
    width: 100%;
    height: 100%;
  }
}
.mdl__items {
  display: center;
  margin: auto;
  font-size: 20px;
}
@media only screen and (min-width: 320px) {
  .mdl__items {
    font-size: 12px;
    width: 100px;
    height: 122px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 17px;
    gap: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .mdl__items {
    width: 110px;
    height: 152px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .mdl__items {
    width: 180px;
    height: 235px;
    margin: auto;
    margin-top: 40px;
  }
}
.mdl__items:focus,
.mdl__items:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0 0 10px 1px gray;
  border-radius: 5px;
}
.mdl__paragraf {
  text-align: center;
  font-size: 16px;
}
@media only screen and (min-width: 320px) {
  .mdl__paragraf {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1280px) {
  .mdl__paragraf {
    font-size: 18px;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition-property: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal .modal-dialog {
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
@media only screen and (min-width: 320px) {
  .modal .modal-dialog {
    width: 300px;
    height: 800px;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .modal .modal-dialog {
    width: 700px;
    height: 500px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .modal .modal-dialog {
    width: 1050px;
    height: 720px;
  }
}
.button-footer {
  border: none;
  background-color: transparent;
}
.modal.is-visible {
  visibility: visible;
  opacity: 1;
}
.modal-dialog {
  max-width: 1000px;
  max-height: 80vh;
  border-radius: 5px;
  background: white;
  overflow: auto;
  cursor: default;
}
.modal-dialog > * {
  padding: 1rem;
}
.modal-close {
  cursor: pointer;
  position: absolute;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  border: none;
  background: #ffffff;
  color: #000000;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close path {
  stroke: #000;
}
