:root {
    --font-family: "Roboto", sans-serif;
    --subtitle-color: #ff6b08;
}



.pagination-container {
    margin-bottom: 5px;
}


.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;        
}

.card {
    width: 280px;
    height: 443px;
    margin-bottom: 20px;
}

.movie-poster {
    height: 402px;
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.movie-title {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #000;
        margin-block: 0;
}

.movie-subtitle {
    color: var(--subtitle-color);
    font-size: 12px;
    font-weight: 500;
    font-family: var(--font-family);
    margin-block: 0;
}

.movie-info {
    padding-top: 10px;
    height: 48px;
}

.no-results-info {   
    background-size: cover;
    background-image: url(https://i.makeagif.com/media/7-19-2016/gyZqDV.gif);
    margin: auto;
}

.card {
    position: relative;
}

.rating-info {
    position: absolute;
    top: 2%;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    transform: translate(0, 0);
    transition: transform 0.3s ease;    
}

.card:hover .movie-poster,
.card:focus .movie-poster {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 0 10px 1px gray;
}


@media screen and (min-width: 320px) {
    .gallery {
        width: 320px;
    }

    .no-results-info {
        height: 145px;
        width: 300px;
    }

    .rating-info {
        width: 33px;
        height: 33px;
        left: 85%;
    }

    .card:hover .rating-info {
        transform: translate(2px, -4px);
    }
    
}

@media screen and (min-width: 768px) {
    .gallery {
        width: 768px;
        gap: 32px;
        padding-top: 60px;        
    }

    .card {
        width: 336px;
        height: 494px;
    }

    .movie-poster {
        height: 455px;
    }

    .no-results-info {
        width: 400px;
        height: 208px;
    }
    .rating-info {            
        width: 35px;
        height: 35px;
    }
    
    .card:hover .rating-info {
        transform: translate(3px, -4px);
    }
}

@media screen and (min-width: 1280px) {
    .gallery {
        width: 1280px;
        gap: 16px;
        justify-content: flex-start;
    }
    .card {
        width: 395px;
        height: 634px;
        margin-bottom: 16px;
    }
    .movie-poster {
        height: 574px;
    }
    .movie-title, .movie-subtitle {
        line-height: 1.2;
        font-size: 20px;
    }    
    .rating-info {
        left: 86%;
        width: 40px;
        height: 40px;
    }
    .card:hover .rating-info {
        transform: translate(3px, -5px);
    }
}

