<header class="header">
  <div class="container_header container_header--header">
    <div class="header_wraper">
      <div class="logo_container">
        <a href="./index.html" class="logo-film">
          <svg class="logo_header" width="24" height="24">
            <use class="logo-icon" href="./images/film-defs.svg#icon-film"></use>
          </svg>
          <span class="logo_name">Filmoteka</span>
        </a>
      </div>

      <nav class="header-navigation">
        <ul class="navigation_list">
          <li class="navigation_list_item">
            <a class="navigation_list_link site_nav_link_current" href="./index.html">Home</a>
          </li>
          <li>
            <a class="navigation_list_link" href="./library.html">My Library</a>
          </li>
        </ul>
      </nav>
    </div>
    <form class="header_search_form">
      <div class="search_form">
        <input type="text" name="search" class="search form-input" placeholder="Movie search" />
        <button type="submit" class="search-btn">
          <span class="search_icon"></span>
        </button>
      </div>
    </form>
  </div>
</header>
