<header class="header library_header">
  <div class="container_header container_header--header">
    <div class="header_wraper">
      <div class="logo_container">
        <a href="./index.html" class="logo-film">
          <svg class="logo_header" width="24" height="24">
            <use class="logo-icon" href="./images/film-defs.svg#icon-film"></use>
          </svg>
          <span class="logo_name">Filmoteka</span>
        </a>
      </div>

      <nav class="header-navigation">
        <ul class="navigation_list">
          <li class="navigation_list_item">
            <a class="navigation_list_item" href="./index.html">Home</a>
          </li>
          <li class="navigation_list_item">
            <a class="navigation_list_item site_nav_link_current" href="./library.html"
              >My Library</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="buttons_block">
      <button type="button" data-value="watched" class="button button-watched active" id="btn">
        Watched
      </button>
      <button type="button" data-value="queue" class="button button-queue" id="btn">Queue</button>
    </div>
  </div>
</header>
