<div class="modal" id="modal1" data-animation="slideInOutLeft">
  <div class="modal-dialog">
        <button class="modal-close" type="button" data-modal-close-window>
        <svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 8L22 22" stroke="black" stroke-width="2"></path>
            <path d="M8 22L22 8" stroke="black" stroke-width="2"></path>
        </svg>
    </button>   
    <h1 class="team-name">DevDynamos</h1>   
           <div class="container-team">
            
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/bond.jpg" alt="James Bond" />
        <p class="mdl__paragraf"><b>Sebastian Klimczak</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/kill.jpg" alt="Kill Bill" />
        <p class="mdl__paragraf"><b>Aneta Cywilis</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/terminator.jpg" alt="terminator" />
        <p class="mdl__paragraf"><b>Łukasz Grajewski</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/scarlett.jpg" alt="Scarlett Johanson" />
        <p class="mdl__paragraf"><b>Nina Matfiejuk</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/rambo.jpg" alt="rambo" />
        <p class="mdl__paragraf"><b>Paweł Garbula</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/laracroft.jpg" alt="Lara Croft" />
        <p class="mdl__paragraf"><b>Paulina Nieboj</b></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
