<div id="studentsModal" class="modal hidden">
  <div class="modal-content">
    <span id="closeModalBtn" class="modal__close"></span>
    <h2 class="mdl__title container">
      <b>NAZWA TEAMU</b>
    </h2>
    <div class="mdl__container container">
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/bond.jpg" alt="James Bond" />
        <p class="mdl__paragraf"><b>Sebastian Klimczak</b> Team Leader</p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/kill.jpg" alt="Kill Bill" />
        <p class="mdl__paragraf"><b>Aneta Cywilis</b> Scrum Master</p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/terminator.jpg" alt="terminator" />
        <p class="mdl__paragraf"><b>Łukasz Grajewski</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/scarlett.jpg" alt="Scarlett Johanson" />
        <p class="mdl__paragraf"><b>Nina Matfiejuk</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/rambo.jpg" alt="rambo" />
        <p class="mdl__paragraf"><b>Paweł Garbula</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="/src/images/laracroft.jpg" alt="Lara Croft" />
        <p class="mdl__paragraf"><b>Paulina Niebój</b></p>
      </div>
    </div>
  </div>
</div>
