<div id="studentsModal" class="modal hidden">
  <div class="modal-content">
    <span id="closeModalBtn" class="modal__close"></span>
    <h2 class="mdl__title container">
      <b>NAZWA TEAMU</b>
    </h2>
    <div class="mdl__container container">
      <div class="mdl__items">
        <img class="mdl__image" src="" alt="" />
        <p class="mdl__paragraf"><b>Sebastian Klimczak</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="" alt="" />
        <p class="mdl__paragraf"><b>Aneta Cywilis</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="" alt="" />
        <p class="mdl__paragraf"><b>Łukasz Grajewski</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="" alt="" />
        <p class="mdl__paragraf"><b>Nina Matfiejuk</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="" alt="" />
        <p class="mdl__paragraf"><b>Paweł Garbula</b></p>
      </div>
      <div class="mdl__items">
        <img class="mdl__image" src="" alt="" />
        <p class="mdl__paragraf"><b>Paulina Niebój</b></p>
      </div>
    </div>
  </div>
</div>
