<div class="modal-filmoteka is-hidden" id="modal-filmoteka"></div>
<div class="modal-window is-hidden" id="modal-window">
    <button class="modal-close-btn" type="button" data-modal-close-window>
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 8L22 22" stroke="black" stroke-width="2"></path>
            <path d="M8 22L22 8" stroke="black" stroke-width="2"></path>
        </svg>
    </button>
    <div class="modal-content">


        <div class="modal-poster"></div>

        <div class="modal-info-film">
            <h1 class="modal-movie-title" id="movie-title"></h1>
            <div class="modal-movie">
                <div class="modal-movie-info-name">
                    <p class="info-name">Vote / Votes</p>
                    <p class="info-name">Popularity</p>
                    <p class="info-name">Original Title</p>
                    <p class="info-name">Genre</p>
                </div>
                <div class="modal-info-value">
                    <p class="info-value" id="vote-average"></p>
                    <p class="info-value" id="popularity"></p>
                    <p class="info-value" id="original-title"></p>
                    <p class="info-value" id="genre"></p>
                </div>
            </div>
            <h2 class="modal-movie-about"></h2>
            <p class="modal-about-text" id="about-text"></p>
            <ul class="modal-btn-list">
                <li class="modal-btn-list-item">
                    <button class="modal-movie-btn add-watched" type="button">add to watched</button>
                </li>
                <li class="modal-btn-list-item">
                    <button class="modal-movie-btn add-queue" type="button">add to queue</button>
                </li>
            </ul>


        </div>

    </div>

</div>