<section class="gallery_lib">
  <div class="container-lib">
    <ul></ul>
    <p class="library_text_empty">
      It seems your library is empty. <br />
      Check out our
      <a href="./index.html" class="library_link">movie list</a>
      to select your favourites!
    </p>
    <div class="library_img_container">
      <img
        class="library_img"
        src="./images/search-2.gif"
        alt="gif for no finding any watched or queued in the library"
      />
    </div>
  </div>
</section>
